//-------------------------------------
//              Defaults
//-------------------------------------


// -------- Elements --------
html{

}
body{
  font-family: "Open Sans", sans-serif;
  color: #26272a;
  background-color: white;
  margin: auto;
}
ul,ol{
  list-style-type: none;
  margin: 0;
  padding:0;
}
a:hover,a:active,a:focus{
  text-decoration: none;
  color: @b-red !important;
}
br{
  display: none;
}


// -------- Styles ---------
/*.container{
  width:100%;
}*/
.btn, .btn:hover, .btn:active, .btn:focus{
  .b-radius(40px);
  text-transform: uppercase;
  color: white!important;
  .trans(0.1s);
  padding: 8px 22px;
  font-size: 16px;
  font-weight: 600;

  &:hover{
    .b-shadow(0px, 2px, 8px, 0, 20%);
    .trans(0.1s);

  }
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.no-padding {
  padding: 0;
}

.fa-fw{
  width:inherit!important;
}
.slick-track {
  .flexbox;
}
.container{
  /*
  background-color: #fdfdfd;
  padding-left: 0;
  padding-right: 0;
  */
}

@media (min-width: 1440px) {
  .container {
    width: 1430px;
  }
}

.main-container{
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.page-header{
  text-align: center;
  margin: 0 auto;
  border: 0;
  color:#202123;
  text-transform: uppercase;
}
.main-container, .home-header.container{
  padding-top: 80px;
  /*min-height: 1050px;*/
}

.slick-arrow{
  margin-top: -6%;
  background-color: transparent;
  padding: 50px 20px;
  display: block;
  font-size: 40px;
  outline: none;
  border: none;

}
.slick{
  position: relative;
}
.slick__arrow{
  width: 100%;
  top: 50%;
  position: absolute;
  padding:0;


  .slick-prev.slick-arrow{
    position: absolute;
    left:0;
  }
  .slick-next.slick-arrow{
    position: absolute;
    right:0;
  }
}


/* HP */
.front {}
/* End HP */




//-------------------------------------
//              Header
//-------------------------------------

header.navbar {
  height: 115px;
  background: url('../img/header_menu_bg.png') center bottom no-repeat;
  -webkit-background-size: cover;
  background-size: cover;



  & .container > .row {
    display: flex;
    align-items: center;
  }

  a.btn-success{
    background-color: @b-red;
    border:0;
  }
}

.region-top-left, .block-multiblock{
  text-align: center;
  i{
    color: @b-orange;
    padding: 0 6px;
    font-size: 24px;
    &:hover{
      color: @b-red;
    }
  }
}

.region-header-left{
  text-align: center;
  font-size: 16px;
}

.region-header-center {
  img {
    margin: 0 auto;
  }
}

.region-header-right{
  background-color: #f3f3f3;
  -webkit-border-radius: 30px 0 30px 30px;
  -moz-border-radius: 30px 0 30px 30px;
  border-radius: 30px 0 30px 30px;
  float: right;
  padding: 32px 31px;
  text-align: center;

  p{
    color: #26272a;
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
  }
}

.navbar-collapse{
  text-align: center;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a{
  background-color: transparent;
  color: #26272a;
}
.nav > li > a{
  padding: 10px 15px;
  &.menu_icon{
    padding: 10px 20px;
    width: 80px;
    background-position: center center;
  }
}

.menu.navbar-nav {
  .flexbox;
}

nav{
  padding: 22px 0;
  display: inline-block;

  ul{
    a{
      color: #26272a;
      padding: 0 24px 0 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      background-color: transparent;
    }
  }
}

.home-header{
  padding-top: 40px;
}




//-------------------------------------
//        Events carousel block
//-------------------------------------

.view-events.view-display-id-block_1{
  position: relative;
  overflow: hidden;

  .slick__arrow{
    color:white;
  }

  .slick-dots{
    display: none!important;
  }

  &:before{
    .d-shadow(0px, 9px, 5px, 0, 30%);
    width: 100%;
    height: 40px;
    position: absolute;
    content: "";
    background: url('../img/events_top_bg.png') no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:after{
    .d-shadow(0px, -9px, 5px, 0, 30%);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom:0;
    left:0;
    content: "";
    background: url('../img/events_bottom_bg.png') no-repeat bottom;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .view-header{
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;

    h2{
      font-size: 36px;
      color: #ffa800;
      text-transform: uppercase!important;
      font-weight: 500;
    }

    p{
      font-size: 20px;
      color: #afb6c3;
      .d-shadow(0, 0, 5px, 0, 30%);
    }
  }

  .slide__content{
    position: relative;
    text-align: center;

    .views-field-title{
      font-size: 70px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 90px;
      position: absolute;
      z-index: 2;
      top: 140px;
      left: 0;
      bottom: 0;
      right: 0;
      .d-shadow(0, 0, 5px, 0, 30%);

      a{
        color:white;
      }
    }

    .views-field-field-event-photo{
      min-height: 500px;
      position: relative;

      img{
        width: 100%;
      }

      &:before{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        content: "";
        background-color: rgba(0,0,0,0.4);
        height: 100%;
      }
    }

    .views-field-field-event-date, .views-field-field-event-place{
      color: #afb6c3;
      position: absolute;
      top: 360px;
      font-size: 20px;
      padding: 10px 24px;
      .d-shadow(0, 0, 5px, 0, 30%);
      z-index: 2;
    }

    .views-field-field-event-date{
      left: 37%;

      span{
        &:before{
          font-family: "FontAwesome", sans-serif;
          content:"\f133";
          padding-right: 10px;
          color: @b-orange;
        }
      }
    }

    .views-field-field-event-place{
      right:37%;

      div{
        &:before{
          font-family: "FontAwesome", sans-serif;
          content:"\f041";
          padding-right: 10px;
          color: @b-orange;
        }
      }
    }
  }

}




//-------------------------------------
//          Information block
//-------------------------------------

.view-hp-info-blocks{
  text-align: center;
  position: relative;
  padding: 50px 0 64px;
  color: #202123;

  .view-content{
    margin: 36px auto;
    padding: 0 40px;

    li{
      margin-bottom: 20px;

      svg{
        top: -20px;
        left: -10px;
        position: absolute;
      }
      p{
        margin: 0;
        padding-left: 90px;
        font-size: 16px;
        color: #202123;
        text-align: left;
      }
    }
  }

  a.btn{
    margin: 5px 20px;
    padding: 20px 0;
    width: 220px;
    border-color: transparent;

    &.btn-info{
      background-color: #222326;
    }
    &.btn-danger{
      background-color: #e71c2c;
    }
  }
}




//-------------------------------------
//      Children carousel block
//-------------------------------------

#block-views-hp-children-block{
  & > h2{
    position:absolute;
  }

  .slick__arrow{
    color:white;
  }

  .view-hp-children.view-display-id-block{
    position: relative;
    overflow: hidden;
    background: url('../img/children_bg.jpg');

    .slick-dots{
      //need
    }

    &:before{
      .d-shadow(0px, 9px, 5px, 0, 30%);
      width: 100%;
      height: 40px;
      position: absolute;
      content: "";
      background: url('../img/events_top_bg.png') no-repeat top;
      -webkit-background-size: cover;
      background-size: cover;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:after{
      .d-shadow(0px, -9px, 5px, 0, 30%);
      width: 100%;
      height: 40px;
      position: absolute;
      bottom:0;
      left:0;
      content: "";
      background: url('../img/events_bottom_bg.png') no-repeat bottom;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

  .slide__content{
    position: relative;
    text-align: center;
    padding-top: 60px;
    span.views-label {
      display: none;
    }
  }

  .views-field-field-child-photo{
    display: inline-block;
    .b-radius(150px);
    max-width: 300px;

    img{
      border-radius: 50%;
    }
  }

  .views-field-title a{
    color: white;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .views-field-field-age, .views-field-field-city, .views-field-field-diagnosis{
    display: inline-block;
    margin: 0 10px 10px;
    font-size: 20px;
    padding: 10px 24px;
    color: #afb6c3;
    text-align: left;
    position: relative;
  }

  .views-field-field-city{
    &:before{
      color:@b-orange;
      position: absolute;
      left:0;
      font-family: "FontAwesome", sans-serif;
      content:"\f041";
    }
  }
  .views-field-field-age{
    &:before{
      color:@b-orange;
      position: absolute;
      left:0;
      font-family: "FontAwesome", sans-serif;
      content:"\f05a";
    }
  }
  .views-field-field-diagnosis{
    &:before{
      color:@b-orange;
      position: absolute;
      left:0;
      font-family: "FontAwesome", sans-serif;
      content:"\f0fa";
    }
  }


  .views-field-body{
    margin: 0 auto;
    width: 70%;
    font-size: 18px;
    color: white;
    text-align: left;
  }
}




//-------------------------------------
//      News and friend carousels
//-------------------------------------

.home-bottom{
  margin-bottom: 30px;

  h2{
    font-size: 36px;
    color: #202123;
    text-transform: uppercase;
    margin: 15px !important;
  }

  .region{
    position: relative;
  }

  .col-sm-6{
    text-align: center;
    border-right: 1px dashed #d6dae0;
    & + .col-sm-6{
      vertical-align: top;
      border:none;
    }

  }
  #block-views-news-slider-block{
    position: relative;

    .slick-dots{
      display: none!important;
    }
    .view-news-slider{

      .view-header{
        a{
          text-decoration: underline;
          text-transform: capitalize;
          display: block;
          color: #8e95a1;
          font-size: 18px;
          margin: 20px 0;
        }
      }

      .view-content{
        text-align: initial;
        height:330px;
      }
    }

    .slide__content{
      text-align: center;

      .views-field-title{
        width: 330px;
        display: inline-block;

        a{
          font-size:20px;
          color: #212121;
          letter-spacing: 1px;
          line-height: 26px;
          font-weight: 500;
        }
      }

      .views-field-created{
        color:#8e95a1;
        font-size: 16px;
        margin:10px 0;
      }

      .views-field-field-news-photo{
        display: inline-block;
        img{.b-radius(150px);}
      }
    }

    .slick-list.draggable{
      min-height:220px!important;
    }
  }


  .view-our-friends {
    .view-content {
      text-align: initial;
      height: 330px;
    }
  }


  .slick__slider{
    width: 500px;
    margin: 0 auto;
  }

  .grid__content{
    background-color: #f2f4f8;;
    border-radius: 20px;
    width: 220px;
    height: 140px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    position: relative;

    .views-field-field-friend-logo{
      top: 0;
      left: 0;
      position: absolute;
      display: none;

      img{
        height: 140px;
        width: 220px;
        .b-radius(20px);
      }
    }
    &:hover{
      .views-field-field-friend-logo{
        display: block;
      }
    }

    .views-field-name{
      a{
        color: #212121;
        font-size: 18px;
        display: block;
        margin: 10px;
        font-weight: 600;
      }
    }
  }

  .slick__arrow{
    top: 45%;
  }
}






//-------------------------------------
//            Footer block
//-------------------------------------

footer.footer {
  background: url('../img/footer_bg.png') center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding:40px;
  height: 183px;

  & .container > .row {
    display: flex;
    align-items: center;
  }

  .contacts{
    & > .row > div > div{
      margin: 8px auto;
      font-size: 15px;
      color:#26272a;
      a{
        color:#26272a;
      }
    }

    i{
      color: #ffa800;
      margin-right: 5px;
    }
  }

  .region-footer4{
    font-size:16px;
    color:#8e95a1;
    a{
      color:@b-orange;
      font-weight: 700;
    }
  }
}







//-------------------------------------
//            Child | page
//-------------------------------------

.node-type-child{

  .slick__arrow{
    color:white;
  }
  .media--image{
    height:100%;
  }
  .slick-slide img{
    width: 100%;
    height:100%;
  }

  .slick--optionset--child-gallery{
    .slick-track{
      margin: 0;
    }
  }

  .field-name-field-node-display-title{
    text-align: center;

    div{
      display: inline-block;
      font-size: 50px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
  .group-child-info{
    padding: 0 100px;

    .group-child-left{
      text-align: center;
      font-size: 20px;

      & > div{
        display: inline-block;
        margin:20px 5px;
      }
    }

    .group-child-right{
      font-size:18px;
      font-weight: 500;
    }
  }

  .field-type-text-with-summary{
    p{
      padding:50px;
      font-size:17px;
    }
  }
}






//-------------------------------------
//            About | page
//-------------------------------------

.page-about{

  .inside {
    background-color: #f8f9fa;
    position: relative;
    padding: 50px;
    &:before{
      .d-shadow(0px, 6px, 3px, 0, 7%);
      width: 100%;
      height: 40px;
      position: absolute;
      content: "";
      background: url('../img/events_top_bg.png') no-repeat top;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .panels-flexible-region-2-center{
    width:100%;
  }
  .panel-pane.pane-node{



    h2{
      display: inline-block;
      padding-left: 15px;
      color:#202123;
      font-size:18px;
    }

    .pane-content{
      text-align: left;
      font-size: 17px;
    }
  }

  .slick--optionset--documents.slick--carousel{
    margin: 20px 0;
    .media--image{
      padding: 9px;
    }

    .slick-slide img{
      margin:0 auto;
      .d-shadow(3px, 4px, 3px, 0, 7%);
    }
  }



  footer{
    background-color: #f8f9fa;
  }
}



//-------------------------------------
//            Children | page
//-------------------------------------

.page-children{
  .view-header{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .region-content {
    position: relative;
  }

  .views-row{
    padding: 40px 80px;
    position: relative;

    &:after{
      content: "";
      background: url("../img/heart.png");
      height:12px;
      width:400px;
      left: 50%;
      bottom: 0;
      position: absolute;
      display: block;
      margin-left: -200px;
    }
    &.views-row-last{
      &:after{
        content:"";
        display: none;
      }
    }

    .views-field-field-child-photo {
      .field-content{
        display: inline-block;
        .b-radius(150px);
        max-width: 300px;

        img{
          border-radius: 50%;
        }
      }
    }

    .views-field-title a{
      font-size:40px;
      font-weight: 700;
      color:#212121;
    }
    .child-info{
      & > div{
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        color: #8a8989;
        margin: 0 10px 0 0;
        position: relative;
        padding-left:22px;
      }
      .views-field-field-city{
        &:before{
          color:@b-orange;
          position: absolute;
          left:0;
          font-family: "FontAwesome", sans-serif;
          content:"\f041";
          text-align: center;
          width:20px;
        }
      }
      .views-field-field-age{
        &:before{
          color:@b-orange;
          position: absolute;
          left:0;
          font-family: "FontAwesome", sans-serif;
          content:"\f05a";
        }
      }
      .views-field-field-diagnosis{
        &:before{
          color:@b-orange;
          position: absolute;
          left:0;
          font-family: "FontAwesome", sans-serif;
          content:"\f0fa";
        }
      }
    }
    .views-field-field-child-description{
      font-size: 18px;
      color:#212121;
      margin: 20px 0;
    }
  }



  .view-children.view-display-id-page{
    padding:0;

    .view-content{
      position: relative;
      padding: 50px;
      background-color: #f8f9fa;
      &:before{
        .d-shadow(0px, 6px, 3px, 0, 7%);
        width: 100%;
        height: 40px;
        position: absolute;
        content: "";
        background: url('../img/events_top_bg.png') no-repeat top;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
  footer{
    background-color: #f8f9fa;
  }
}





//-------------------------------------
//            Partners | page
//-------------------------------------
.page-partners{
  .view-our-friends{
    padding: 0;
    & > .view-content{
      background-color: #f8f9fa;
      position: relative;
      padding: 50px;

      &:before{
        .d-shadow(0px, 6px, 3px, 0, 7%);
        width: 100%;
        height: 40px;
        position: absolute;
        content: "";
        background: url('../img/events_top_bg.png') no-repeat top;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        top: 0;
        left: 0;
        z-index: 1;
      }
      &:after{
        .d-shadow(0px, -6px, 3px, 0, 7%);
        width: 100%;
        height: 40px;
        position: absolute;
        bottom:0;
        left:0;
        content: "";
        background: url('../img/events_bottom_bg.png') no-repeat bottom;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
      }

      .views-row{
        margin-top: 20px;
        margin-bottom: 40px;
        min-height: 150px;

        &:after{
          display: table;
          clear: both;
        }

        .views-field-field-friend-logo{
          position: absolute;

          img{
            .b-radius(10px);
          }
        }

        .views-field-name{

          a{
            color:black;
            font-size: 30px;
          }
        }

        .views-field-field-friend-link{
          margin:15px 0;
          a{
            color:@b-red;
            font-weight: 600;
            font-size: 16px;
          }
        }

        .views-field-name, .views-field-description, .views-field-field-friend-link{
          padding-left: 170px;
        }
      }
    }
  }
}





//-------------------------------------
//            News | page
//-------------------------------------

.page-news{
  .region.region-content{
    background-color: #f8f9fa;
    position: relative;
    padding: 50px;

    &:before{
      .d-shadow(0px, 6px, 3px, 0, 7%);
      width: 100%;
      height: 40px;
      position: absolute;
      content: "";
      background: url('../img/events_top_bg.png') no-repeat top;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
      top: 0;
      left: 0;
      z-index: 1;
    }

  }

  .views-row{
    padding: 10px 40px;
    text-align: center;

    .top-block.views-fieldset{
      position: relative;
    }
    .views-field-field-news-photo{
      img{
        width:600px;
        height:345px;
      }
    }
    .views-field.views-field-created{
      position:absolute;
      width: 160px;
      margin-left: -80px;
      padding: 10px;
      background: rgba(0,0,0,0.5);
      bottom: 5px;
      left: 50%;
      color:white;
    }
  }

  .views-field-field-news-photo a{
    margin: 0 auto;
    display: inline-block;
  }

  .views-field-created{
    color:#777777;
    font-size: 14px;
  }

  .views-fieldset{
    .views-field-title a{
      margin: 10px;
      font-weight: 500;
      font-size: 36px;
      color: #202123;
      display: block;
    }
    .views-field-body, .views-field-view-node{
      text-align: left;
      a{
        color:black;
      }
    }
  }

  footer{
    background-color: #f8f9fa;
  }
}



// ------- Variables --------
@b-red: #f42434;
@b-orange: #f19f00;

@media all and (min-width: 1440px){
  header > .container{
    width: 1430px;
  }
}
@media all and (max-width: 1440px){

  body, header{
    width: 100%;
  }

  .node-type-child {
    .slick--optionset--child-gallery {
      img {
        height: 100%;
      }
    }
  }
}
@media all and (max-width: 1170px) {

  nav {
    ul {
      a {
        font-size: 14px;
      }
    }
  }

}
@media all and (max-width: 768px) {
  .view-hp-info-blocks {
    li{
      min-height: 100px;
      width:100%;
      align-items: center;
      display: flex;
    }
  }
  .home-bottom {
    .col-sm-6 {
       border-right: none;
       border-bottom: 1px dashed #d6dae0;
    }
  }
}



.b-radius(@radius){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.b-shadow(@x, @y, @blur, @color, @alpha){
  -webkit-box-shadow: @x @y @blur rgba(@color, @color, @color, @alpha);
  -moz-box-shadow: @x @y @blur rgba(@color, @color, @color, @alpha);
  -o-box-shadow: @x @y @blur rgba(@color, @color, @color, @alpha);
  box-shadow: @x @y @blur rgba(@color, @color, @color, @alpha);
}
.trans(@speed){
  -webkit-transition: @speed;
  -moz-transition: @speed;
  -o-transition: @speed;
  transition: @speed;
}
.d-shadow(@x, @y, @blur, @color, @alpha) {
  -webkit-filter: drop-shadow(@x @y @blur rgba(@color, @color, @color, @alpha));
  -ms-filter: drop-shadow(@x @y @blur rgba(@color, @color, @color, @alpha));
  filter: drop-shadow(@x @y @blur rgba(@color, @color, @color, @alpha));
}

