body{
  font-family: "Open Sans", sans-serif;
  color: #26272a;
  background-color: grey;
}

ul,ol{
  list-style-type: none;
  margin: 0;
}
a:hover,a:active,a:focus{
  text-decoration: none;
  color: @b-red !important;
}

br{
  display: none;
}

.btn, .btn:hover, .btn:active, .btn:focus{
  .b-radius(40px);
  text-transform: uppercase;
  color: white!important;
  .trans(0.1s);
  padding: 8px 22px;
  font-size: 16px;
  font-weight: 600;

  &:hover{
    .b-shadow(0px, 2px, 8px, 0, 20%);
    .trans(0.1s);

  }
}

header.navbar {
  height: 115px;
  background: url('../img/header_menu_bg.png') center no-repeat;
}

.region-top-left, .block-multiblock{

  i{
    color: @b-orange;
    padding: 0 6px;
    font-size: 24px;
    &:hover{
      color: @b-red;
    }
  }
}

nav{
  padding: 22px 0;

  ul{


    a{
      color: #26272a;
      padding: 0 24px 0 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      background-color: transparent;
    }
  }
}


.view-events.view-display-id-block_1{
  position: relative;
  overflow: hidden;

  .slick-dots{
    display: none!important;
  }

  &:before{
    .d-shadow(0px, 9px, 5px, 0, 30%);
    width: 100%;
    height: 40px;
    position: absolute;
    content: "";
    background: url('../img/events_top_bg.png') no-repeat top;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:after{
    .d-shadow(0px, -9px, 5px, 0, 30%);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom:0;
    left:0;
    content: "";
    background: url('../img/events_bottom_bg.png') no-repeat bottom;
  }

  .view-header{
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;

    h2{
      font-size: 36px;
      color: #ffa800;
      text-transform: uppercase!important;
      font-weight: 500;
    }

    p{
      font-size: 20px;
      color: #afb6c3;
      .d-shadow(0, 0, 5px, 0, 30%);
    }
  }

  .slide__content{
    position: relative;
    text-align: center;

    .views-field-title{
      font-size: 70px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 90px;
      position: absolute;
      z-index: 2;
      top: 140px;
      left: 0;
      bottom: 0;
      right: 0;
      .d-shadow(0, 0, 5px, 0, 30%);

      a{
        color:white;
      }
    }

    .views-field-field-event-photo{
      min-height: 500px;
      position: relative;

      img{
        width: 100%;
      }

      &:before{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        content: "";
        background-color: rgba(0,0,0,0.4);
        height: 100%;
      }
    }

    .views-field-field-event-date, .views-field-field-event-place{
      color: #afb6c3;
      position: absolute;
      top: 360px;
      font-size: 20px;
      padding: 10px 24px;
      .d-shadow(0, 0, 5px, 0, 30%);
      z-index: 2;
    }

    .views-field-field-event-date{
      left: 37%;

      span{
        &:before{
          font-family: "FontAwesome", sans-serif;
          content:"\f133";
          padding-right: 10px;
          color: @b-orange;
        }
      }
    }

    .views-field-field-event-place{
      right:37%;

      div{
        &:before{
          font-family: "FontAwesome", sans-serif;
          content:"\f041";
          padding-right: 10px;
          color: @b-orange;
        }
      }
    }
  }

  .slick__arrow{
    width: 100%;
    top: 50%;
    position: absolute;
    padding:0;

    .slick-prev.slick-arrow{
      position: absolute;
      left:0;
    }
    .slick-next.slick-arrow{
      position: absolute;
      right:0;
    }
  }
}

.view-hp-info-blocks{
  text-align: center;
  position: relative;
  padding: 50px 0 64px;
  color: #202123;

  .view-content{
    margin: 36px auto;
    padding: 0 40px;

    li{
      margin-bottom: 20px;

      svg{
        top: -20px;
        left: -10px;
        position: absolute;
      }
      p{
        margin: 0;
        padding-left: 90px;
        font-size: 16px;
        color: #202123;
        text-align: left;
      }
    }
  }

  a.btn{
    margin: 0 20px;
    padding: 20px 0;
    width: 220px;
    border-color: transparent;

    &.btn-info{
      background-color: #222326;
    }
    &.btn-danger{
      background-color: #e71c2c;
    }
  }
}

#block-views-hp-children-block{
  & > h2{
    position:absolute;
  }

  .view-hp-children.view-display-id-block{
    position: relative;
    overflow: hidden;
    background: url('../img/children_bg.jpg');

    .slick-dots{
      //need
    }

    &:before{
      .d-shadow(0px, 9px, 5px, 0, 30%);
      width: 100%;
      height: 40px;
      position: absolute;
      content: "";
      background: url('../img/events_top_bg.png') no-repeat top;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:after{
      .d-shadow(0px, -9px, 5px, 0, 30%);
      width: 100%;
      height: 40px;
      position: absolute;
      bottom:0;
      left:0;
      content: "";
      background: url('../img/events_bottom_bg.png') no-repeat bottom;
    }
  }

  .slide__content{
    position: relative;
    text-align: center;
    padding-top: 60px;
  }

  .views-field-field-child-photo{
    display: inline-block;
    .b-radius(150px);
    max-width: 300px;

    img{
      border-radius: 50%;
    }
  }

  .views-field-title a{
    color: white;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .views-field-field-age, .views-field-field-city, .views-field-field-diagnosis{
    display: inline-block;
    margin: 0 10px 10px;
    font-size: 20px;
    padding: 10px 24px;
    color: #afb6c3;
    text-align: left;
  }

  .views-field-body{
    margin: 0 auto;
    width: 70%;
    font-size: 18px;
    color: white;
    text-align: left;
  }

  .slick__arrow{
    width: 100%;
    top: 50%;
    position: absolute;
    padding:0;

    .slick-prev.slick-arrow{
      position: absolute;
      left:0;
    }
    .slick-next.slick-arrow{
      position: absolute;
      right:0;
    }
  }
}

.home-bottom{
  width: 100%;
  #block-views-news-slider-block{
    border-right: 1px dashed #d6dae0;
    position: relative;
    .slick-dots{
      display: none!important;
    }

    .slide__content{
      text-align: center;

      .views-field-title{
        width: 330px;
        display: inline-block;

        a{
          color: #212121;
          letter-spacing: 1px;
          line-height: 26px;
          font-weight: 500;
        }
      }

      .views-field-field-news-photo{
        display: inline-block;
        img{.b-radius(150px);}
      }
    }

    .slick__arrow{
      width: 100%;
      top: 50%;
      position: absolute;
      padding:0;

      .slick-prev.slick-arrow{
        position: absolute;
        left:0;
      }
      .slick-next.slick-arrow{
        position: absolute;
        right:0;
      }
    }
    .slick-list.draggable{
      min-height:220px!important;
    }
  }
}


footer.footer {
  background: url('../img/footer_bg.png') center no-repeat #fdfdfd;
  padding:40px;
  height: 183px;

  & > div {
    display: flex;
    align-items: center;
  }

  .contacts{
    & > .row > div > div{
      margin: 8px auto;
      font-size: 15px;
      color:#26272a;
      a{
        color:#26272a;
      }
    }

    i{
      color: #ffa800;
      margin-right: 5px;
    }
  }
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: transparent;
}
.nav > li > a{
  padding: 10px 12px;
}


.fa-fw{
  width:inherit!important;
}
.slick-track {
  display: flex;
}

.container{
  background-color: #fdfdfd;
 /* padding-left: 0;
  padding-right: 0;*/
}
.main-container.container{
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.page-header{
  display: none;
}

.main-container, .home-header.container{
  padding-top: 60px;
}

@b-red: #f42434;
@b-orange: #f19f00;


.b-radius(@radius){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.b-shadow(@x, @y, @blur, @color, @alpha){
  -webkit-box-shadow: @x @y @blur rgba(@color, @color, @color, @alpha);
  -moz-box-shadow: @x @y @blur rgba(@color, @color, @color, @alpha);
  -o-box-shadow: @x @y @blur rgba(@color, @color, @color, @alpha);
  box-shadow: @x @y @blur rgba(@color, @color, @color, @alpha);
}
.trans(@speed){
  -webkit-transition: @speed;
  -moz-transition: @speed;
  -o-transition: @speed;
  transition: @speed;
}
.d-shadow(@x, @y, @blur, @color, @alpha) {
  -webkit-filter: drop-shadow(@x @y @blur rgba(@color, @color, @color, @alpha));
  -ms-filter: drop-shadow(@x @y @blur rgba(@color, @color, @color, @alpha));
  filter: drop-shadow(@x @y @blur rgba(@color, @color, @color, @alpha));
}

